cabecalho
{ 
 background-color: ; 
}
h1 {backgroumd color
}
.imagem{ 
    width: 20px;
}
p { 
    font-size: 18px
    ;}
.paragrafo1 [
    font-sinze: 30px
]
paragrafos [
    font-size: 16px
]
.lista [
    display: inline-block;
    margin: 16px
]